.chat{
  margin: auto;
  width: 900px;
}

.bigblue {
  color: DodgerBlue;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

.messageList{
  box-sizing: border-box;
  margin-top: 10px;
  border:2px solid lightslategray;
  width: 100%;
  height: 500px;
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column-reverse;
}

.messageList::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.headerChat{
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border:2px solid lightslategray;
}

.headerLeft{
  display: flex;
  justify-content: space-between;
  width: 45%;
  margin-top: auto;
  margin-bottom: auto;
}

.headerRight{
  margin-top: auto;
  margin-bottom: auto;
}

.avatar{
  width: 50px;
  height: 50px;
  float:left;
}

.message{
  width: 60%;
  text-indent: 3%;
  margin: 0px;
  border:1px solid lightslategray;
  margin: 7px 0;
}

.myMessage{
  width: 60%;
  margin: 7px 0 7px 40%;
  text-indent: 4%;
  border:1px solid lightslategray;
}

.messageBox{
  min-width: 50px;
}

.messageText{
  margin: 3px 5px 3px 5px;
}

.messageFooter{
  margin-top: 5px;
  display: flex;
  justify-content: space-between
}

.messageFooter span{
  text-align: center;
}

.myMessage .messageFooter span{
  text-align: center;
  margin-left: 60%;
}

.like{
  width: 30px;
  height: 30px;
  -webkit-mask: url('./imgs/like-button.png') no-repeat center;
  mask: url('./imgs/like-button.png') no-repeat center;
}

.like:hover{
  cursor: pointer;
}

.mark{
  margin-left: 40px;
  margin-top: 20px;
  width: 32px;
  height: 32px;
  -webkit-mask: url('./imgs/iconmonstr-x-mark-1-32.png') no-repeat center;
  mask: url('./imgs/iconmonstr-x-mark-1-32.png') no-repeat center;
  background-color: #333;
}

.mark:hover{
  cursor: pointer;
}

.logo{
  background-image: url(./imgs/bs-logo.png);
  height: 80px;
  width: 180px;
  background-size: cover;
  margin-left: 300px;
}

.copyright{
  height: 60px;
  display: flex;
}

.copyright span{
  height: 36px;
  margin: 20px auto;
  background-color: grey;
  color:#fff;
  font-weight: 600;
  padding: 5px 40px;
  border-radius: 5px;
}

.inputWrapper{
  margin-top: 30px;
  display: flex;
  position:relative;
}

.textAreaSend{
  width: 600px;
  height: 70px;
  font-size: 16px;
  text-indent: 3%;
  padding: 10px;
}

.sendBox{
  width: 120px;
  height: 50px;
  margin-left: 80px;
  margin-top: 15px;
  display:flex;
  align-items: center;
  border:1px solid lightslategray;
}

.sendBox:hover{
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);;
}

.sendSvg{
  margin-left: 10px;
  width: 32px;
  height: 32px;
  -webkit-mask: url('./imgs/iconmonstr-arrow-up-thin-32.png') no-repeat center;
  mask: url('./imgs/iconmonstr-arrow-up-thin-32.png') no-repeat center;
  background-color: lightslategray;
}

.sendText{
  margin-left: 10px;
  font-weight: 800;
  color:lightslategray;
}

.delete{
  width: 32px;
  height: 32px;
  -webkit-mask: url('./imgs/delete.png') no-repeat center;
  mask: url('./imgs/delete.png') no-repeat center;
  background-color: lightslategray;
}

.delete:hover{
  cursor: pointer;
}
.edit{
  width: 32px;
  height: 32px;
  -webkit-mask: url('./imgs/edit.png') no-repeat center;
  mask: url('./imgs/edit.png') no-repeat center;
  background-color: lightslategray;
}

.edit:hover{
  cursor: pointer;
}

.timeAgo{
  text-align: center;
  margin: 20px 0 10px;
  border-top: 10px grey solid;
  width: 50%;
  display: flex;
  align-items: center;
  align-self: center;
  padding: 5px;
  justify-content: center;
  border-bottom: 10px grey solid;
}

.textAreaSendModal{
    width: 100%;
    height: 150px;
    font-size: 16px;
    text-indent: 3%;
    padding: 10px;
}

.editMessage{
  display: block;
  width: 900px;
  height: 500px;
}

.form{
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto;
  margin-top:200px;
  padding: 30px;
  border: 1px solid gainsboro;
}

.form p {
  text-align: center;
  font-size:24px;
}

.form label{
  margin-top: 5px;
}

.form button{
  margin-top: 10px;
  color:#fff;
  background-color: lightskyblue;
  border: none;
  padding: 5px;
  border-radius: 5px;
}





.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: #ffffff;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #3a7e7d;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #3a7e7d;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}